[submodule "submodules/qt_widgets"]
	path = submodules/qt_widgets
	url = git@github.com:aaron-reeves/qt_widgets.git
	branch = master
[submodule "submodules/ar_general_purpose"]
	path = submodules/ar_general_purpose
	url = git@github.com:aaron-reeves/ar_general_purpose.git
	branch = master
[submodule "submodules/epic_general_purpose"]
	path = submodules/epic_general_purpose
	url = git@epidata.sruc.ac.uk:shared/epic_general_purpose.git
  branch = master
[submodule "submodules/libmagic"]
	path = submodules/libmagic
	url = git@github.com:aaron-reeves/libmagicwin64.git
	branch = master
[submodule "submodules/libxls"]
	path = submodules/libxls
	url = git@github.com:aaron-reeves/libxls.git
	branch = master
