/*.user
/installer/Fsseudonymizer-1_0_0-x64.exe
/src/installer/FsseudonymizerFSS-1_0_0-x64.exe
/Fsseudonymizer-build-Debug-Desktop_Qt_5_12_4_MinGW_32bit
/Fsseudonymizer-build-Release-Desktop_Qt_5_12_4_MinGW_64bit
/Fsseudonymizer-build-Release-Desktop_Qt_5_12_4_MinGW_32bit
*.exe
